mySpider/spiders/__pycache__/__init__.cpython-36.pyc
mySpider/__pycache__/__init__.cpython-36.pyc
.vscode/launch.json
mySpider/spiders/__pycache__/itcast.cpython-36.pyc
mySpider/__pycache__/settings.cpython-36.pyc
